body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
  width: 100%;
}

h1 {
  font-size: 2rem;
  margin: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

form {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

input {
  padding: 4px;
  font-size: 1rem;
  width: 100%;
}

button {
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
}

.price {
  border-bottom: 1px solid gray;
  padding: 1rem;
  text-transform: uppercase;
  width: 30%;
}

.station-name {
    color: #1a1a9f;
  }

.city-button {
padding: 20px;
margin: 20px;
font-size: 1.5rem;
cursor: pointer;
}

footer {
  margin-top: 2rem;
}
